* {
    margin: 0;
    padding: 0;
}

.head-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin: 197px 240px 147px ;
}

.img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}

.h-title {
    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 800;
}

.h-description {
    color: rgba(39, 39, 39, 0.60);
    width: 634px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 50px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    margin-top: 5px;
}
/* main-section */
.featured-title {
text-align: center;
color: #272727;
font-size: 40px;
font-weight: 800;
margin-top: 178px;
}

.featured-description {
   text-align: center;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px 48px;
}

.main-div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
}

.img-pink {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.main-div1-item1 >h3 {
    text-align: center;
}

.img-red {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgb(219, 88, 88);  
}
.main-div1-item2 >h3 {
    text-align: center;
}

.img-yellow {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgb(223, 223, 114);
}

.main-div1-item3 >h3 {
   
}

h3 {
    text-align: center;
}
/*  */
.main-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 128px 200px;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
/*  */
.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.banner-sale {
    padding-left: 395px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 30px;
}

span {
    color: #E55473;
}

.sale-description { 
    text-align: center; 
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

#sign {
   display: inline-flex; 
   justify-content: center;
   align-items: flex-start;
   margin-top: 32px;
   margin-left: 200px;
}



.sale-img { 
    width: 318px;
    height: 420px;
    padding: 100px;
    padding-right: 430px;
}
/* instagram */
.instagrm-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.instagram-description { 
    text-align: center; 
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px;
}
.instagrm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 48px 200px;
}

/*  */
.deal-container {
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 128px 200px;
    text-align: center;
   
}

.deal-title {
    padding-top: 122px;
}
.deals-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 48px;
}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 22px;
    margin-left: 287px;
}

.sub-btn {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding:19px 31px;
    margin-right: 287px;
}
/*  */
.about-us {
    background-image: url("../Flower\ Asset/pink-flower.jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 128px 200px;
    text-align: center;
   
}
/*  */

.footer {
    background: #111010;
}

.flower {
    text-align: center;
    padding-top: 128px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

#shop {
    color: #FFF;
}

.footer-description {    
width: 625px;
color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 24px 648px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-bottom: 128px;
}