/*  universal-section */
* {
    margin: 0;
    padding: 0;
}
/* 1st part(Shop Now) Header-section */
.head-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin: 197px 240px 147px ;
}

.img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}

.h-title {
    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 800;
}

.h-description {
    color: rgba(39, 39, 39, 0.60);
    width: 634px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 50px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    margin-top: 5px;
}
/* End of header-section */
/*2nd part:(Featured) main-section */
.featured-container {
   margin: 128px 240px;
}
.title-p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.featured-title {
text-align: center;
color: #272727;
font-size: 40px;
font-weight: 800;

}

.featured-description {
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   margin-bottom: 48px;
}

.featured-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
   
}

.img-pink {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.img-red {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgb(219, 88, 88);  
}

.img-yellow {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgb(223, 223, 114);
}

h3 {
    text-align: center;/* All h3 tag makes text-align:center */
}
/* 3rd part:(Icon) main section */
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 128px 200px; 
}
.icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; 
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
/* 4th part:(Sale Up) main section */
.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.banner-sale {
    padding-left: 395px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 30px;
}

span {
    color: #E55473;
}

.sale-description { 
    text-align: center; 
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

#sign {
   display: inline-flex; 
   justify-content: center;
   align-items: flex-start;
   margin-top: 32px;
   margin-left: 200px;
}

.sale-img { 
    width: 318px;
    height: 420px;
    padding: 100px;
    padding-right: 430px;
}
/*5th part:(Instagram) main section */

.instagrm-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.instagram-description { 
    text-align: center; 
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 663px;
}
.instagrm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 48px 200px;
}

/* 6th part(Latest Deals)main section */
.deal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 128px 200px;
    text-align: center;
   
}

.deal-title {
    padding-top: 122px;
}
.deals-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 48px;
}

.email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 22px;
    margin-left: 287px;
}

.sub-btn {
    width: 150px;
    height: 64px;
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding:19px 31px;
    margin-right: 287px;
}
/*7th part: (About Us)  main section */
.about-us {
    background-image: url("../Flower\ Asset/pink-flower.jpg.jpg"),linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-blend-mode: overlay;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: 128px 200px;
    text-align: center;
}

.about-us-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
    padding-top: 50px;
}

.about-us-description {
    text-align: center;  
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 200px;
}

.author-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us-img {
    padding-left: 50px;
    padding-bottom: 10px;
}

.author {
    padding-bottom: 5px;
}

.datals-btn {
    width: 150px;
    height: 64px;
    color: #FFF;
    border-radius: 8px;
    background: palevioletred;
    border: none;
    padding:19px 31px;
    margin-right: 287px;
}
/* 8th part:(Flower Shop)Footer section */

.footer {
    background: #111010;
}

.flower {
    text-align: center;
    padding-top: 128px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

#shop {
    color: #FFF;/* <span>shop</span>  */
}

.footer-description {    
width: 625px;
color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 24px 648px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-bottom: 128px;
}
/* completed css  */